.wrapper-update {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .update-task {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    text-shadow: 0 0 2px gray;
    color: rgb(47, 211, 134);
  }

  input {
    height: 25px;
    width: 100%;
    color: blue;
  }

  input:hover {
    outline: 0;
    outline-offset: 0;
  }

  img {
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 320px) {
  .wrapper-update {
    width: 270px;
  }
}