.el-todo {
  display: flex;
  align-items: center;
  margin-top: 30px;

  input {
    margin-right: 10px;
    min-width: 25px;
    min-height: 25px;
  }

  img {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
  }

  .imgOverflow {
    visibility: hidden;
  }

  .el-text {
    font-size: 25px;
    margin: 0 0 0 10px;
    word-wrap: break-word;
    width: 400px;
  }

  @media screen and (max-width: 550px) {
    .el-text {
      width: 150px;
    }
  }

  @media screen and (max-width: 320px) {
    .el-text {
      width: 130px;
    }
  }
}
